$color_softBluePurple: #6677EF;
$color_for_gradient: #4154B0A8;
$color_for_hover: #4F61E1;
$color_for_buttonStart: #394ABB;
$color_softRose: #FEB1D2;
$color_skyBlue: #5BA5E9;
$color_hover_for_skyBlue: #478CCC;
$color_sunYellow: #FDD01E;
$color_black: #000000;
$color_white: #ffffff;
$color_grey: #797979;
$color_for_links: #4A70F8;
$color_for_disabled: #dadef9;
$color_text_for_disabled: #0F0F0F;
$color_input_for_disabled: #CACACA;
$color_for_error: #ff3333;
$color_for_warning: #e7d000;
$color_for_success: #14c011;
$color_hover_for_google: #E0E0E0;
$background: linear-gradient(22deg, #7280E9 0%, #2382D8 100%);
$background_gradient: linear-gradient(180deg, #6677EA 18%, #9DABF9 100%);
$background_sunYellow: linear-gradient(180deg, #FFCE0D 0%, #EDB11A 84%);

